#background { 
	width:100%;
    height:100%;
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -1; /* Ensure div tag stays behind content; -999 might work, too. */
    opacity: 0.1;
}

#background img {
    width:100%;
    height:100%;
}

#prof-pic img {
	height: 10%;
	width: 10%;
	border-radius: 50%;
	margin: 65px auto;
	margin-bottom: 10px;
	display: block;
}


#name {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 4em;
	display: block;
	text-shadow:
    -1px -1px 0 #B2B2B2,  
    1px -1px 0 #B2B2B2,
    -1px 1px 0 #B2B2B2,
    1px 1px 0 #B2B2B2;
	
}

.bold {
	font-weight: bold;
}

#contact {
	margin: 10px auto;
	display: block;
	text-align: center;
}

#contact a:hover {color: #2980b9;}

#contact a {
	padding-left: 5px;
	padding-right: 5px;
	color: black;
}

#about-me {
	margin: 35px auto;
	text-align: center;
	font-size: 4em;
	text-shadow:
    -1px -1px 0 #B2B2B2,  
    1px -1px 0 #B2B2B2,
    -1px 1px 0 #B2B2B2,
    1px 1px 0 #B2B2B2;
}

#bio {
	margin-top: 200px;
}

.icon img {
	margin: 10px auto;
	padding: 5px;
	border-radius: 50%;
	height: 10%;
	width: 10%;
	display: block;
}

.text-type-1 {
	margin-top: 20px;
	margin-bottom: 0;
	background-color: white;
	font-size: 1.5em;
	text-align: center;
}

.text-type-2 {
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 1.5em;
	text-align: center;
	background: #7A7A7A;
	color: white;
}

.info-header {
	margin-top: 10px;
	text-align: center;
	font-size: 4em;
	display: block;
	text-shadow:
    -1px -1px 0 #B2B2B2,  
    1px -1px 0 #B2B2B2,
    -1px 1px 0 #B2B2B2,
    1px 1px 0 #B2B2B2;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

#footer {
	height: 30%;
	margin: 0;
}

.proj-item a {
	color: #0099FF;
}
